body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: $color-secondary-light;

    .heading-primary{
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;

    }
}