/* Colors */
$color-primary-light: rgb(167, 144, 165);
$color-primary: rgb(135, 92, 116);
$color-primary-dark: rgb(84, 65, 78);

$color-secondary: rgb(235, 235, 211);
$color-secondary-light: rgb(247, 249, 249);
$color-secondary-dark: rgb(193, 193, 173);

$color-third-dark: rgb(97, 56, 79);


